
@{
    ViewBag.Title = "DeveloperView";
}

<h2>DeveloperView</h2>

@foreach (var item in @ViewBag.ListofQuests)
{
<div>
    <p>@item.Title</p>
    <p>@item.Description</p>
    @if (item.StoryValue != 0)
    {
        <p>@item.StoryValue</p>
    }
    <p>
        @item.Id
    </p>
    @Html.ActionLink("Dodaj wartość SP", "Edit", "Quest", new {id = item.Id}, null)

</div>

}