
@{
    ViewBag.Title = "DeveloperView";
}

<h2>DeveloperView</h2>

@foreach (var item in @ViewBag.ListofQuests)
{
<div class="quest-container">
    <p>@item.Title</p>
    <p>@item.Description</p>
    <p>@item.Note</p>
    @if (item.StoryValue != 0)
    {
        <p>@item.StoryValue</p>
    }
    @Html.ActionLink("Dodaj wartość SP", "Update", "Quest", new { id = item.Id }, null)
    @*@Html.ActionLink("Dodaj wartość SP", "Update", "Quest")*@

</div>

}