
@{
    ViewBag.Title = "ProductOwnerView";
}

<h2>ProductOwnerView</h2>
<section>
    
    @Html.ActionLink("Dodaj zadanie", "Create", "Quest")
    @foreach (var item in @ViewBag.ListofQuests)
    {
        <div>
            <p>@item.Title</p>
            <p>@item.Description</p>
            @if (item.StoryValue != 0)
            {
                <p>@item.StoryValue</p>
            }

        </div>
            
    }

</section>
