
@{
    ViewBag.Title = "ProductOwnerView";
}

<h2>Witaj w widoku Właściciela Produktu @ViewBag.User.Name</h2>

<section>

    @Html.ActionLink("Dodaj zadanie", "Create", "Quest", null, new { @class = "btn btn-primary pobutton" })
    @foreach (var item in @ViewBag.ListofQuests)
    {
        <div class="quest-container">
            <p>@item.Title</p>
            <p>@item.Description</p>
            <p>@item.Note</p>
            @if (item.StoryValue != 0)
            {
                <p>@item.StoryValue</p>
            }

        </div>

    }

</section>
