
@{
    ViewBag.Title = "ScrumMasterView";
}

<h2>Witaj w widoku Scrum Mastera @ViewBag.User.Name</h2>
<div class="quest-todo">
    <h4>Zadania do zrobienia</h4>
    @foreach (var item in @ViewBag.ListofQuests)
    {
        <div class="quest-container">
                <p>@item.Title</p>
                <p>@item.Description</p>
            @if (item.StoryValue != 0 && item.StatusInSprint != true)
            {
                <p>@item.Note</p>
                <p>@item.StoryValue</p>
                @Html.ActionLink("Wrzuć do sprintu", "AssignToSprint", "Quest", new { id = item.Id }, new { @class = "btn btn-primary" })
            }

        </div>

    }
</div>

<div class="sprint">
    <h4>Zadanie w sprincie</h4>
    @foreach (var item2 in @ViewBag.ListofQuests)
    {
            if (item2.StatusInSprint == true)
            {
            <div class="quest-container">
                <p>@item2.Title</p>
                <p>@item2.Description</p>
                <p>@item2.Note</p>
                <p>@item2.StoryValue</p>
                @Html.ActionLink("Usuń ze sprintu", "RemoveFromSprint", "Quest", new { id = item2.Id }, new { @class = "btn btn-primary" })
            </div>
            }

    }
</div>
